{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": "tsconfig.json",
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "env": {
    "es6": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {} // this loads <rootdir>/tsconfig.json to eslint
    }
  },
  "plugins": ["@typescript-eslint", "sonarjs", "prettier"],
  "extends": [
    "eslint:recommended",
    "standard",
    "prettier",
    "airbnb-typescript/base",
    "plugin:sonarjs/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "prettier/prettier": "error",
    "indent": "off",
    "no-console": "warn",
    "quotes": ["error", "single"],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-use-before-define": "off",

    "class-methods-use-this": "off",
    "consistent-return": "off",
    "max-len": "off",
    "no-restricted-syntax": "off",
    "object-curly-newline": "off",

    "import/prefer-default-export": "off",

    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/restrict-template-expressions": "off",

    "sonarjs/no-duplicate-string": "off"
  }
}
